<div id="site-header"></div>
<header class="site-header">
  <div class="wrapper" id="header-wrapper">
    <a class="site-title" rel="author" href="/" alt="{{ site.title | escape }}">
      {%- include frequency-advisors-eu-logo-invert.svg -%}
    </a>
    <nav class="site-nav">
      <button class="nav-toggle" id="nav-toggle" aria-label="Toggle navigation">
        <span class="menu-icon material-symbols-outlined">menu</span>
        <span class="close-icon material-symbols-outlined">close</span>
      </button>
      <div class="nav-links" id="nav-links">
        <a class="page-link scroll" href="#careers">Careers</a>
        <a class="page-link scroll" href="#about">About</a>
        <a class="page-link" href="mailto:admin@frequencyadvisors.eu">Contact Us</a>
        <a class="page-link" href="https://www.linkedin.com/company/frequency-advisors/" rel="nofollow noopener noreferrer" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        
        <!-- Display User Info and Show/Hide Login/Logout Buttons -->
        <div class="auth-visible hidden">
          <button id="logout">Logout</button>
        </div>

        <div class="auth-invisible">
          <button id="login">Login</button>
        </div>

      </div>
    </nav>
    <div class="user-profile-image" alt="Profile Image"></div>
  </div>
</header>
