/**
 * Site footer
 */
.site-footer {
  background-color: $black;
  color: $white;
}
  
.footer-heading {
  @include relative-font-size(1.125);
  margin: $spacer *8 auto $spacer *4;
  max-width: 200px;
}
  
.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
}

.footer-col-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto $spacer *8;
  max-width: 600px;
  display: block;
  text-align: center;

  svg {
    display: block;
    max-width: $spacer *10;
  }
  a {
    color: $negative;
    margin-bottom: $spacer *0.5;

    &:hover, &:focus {
      color: $secondary;
    }
  }
}
  
.footer-col {
  margin-bottom: $spacer * .5;
  width: calc(33% - (#{$spacer} / 2));
  padding: 0 ($spacer * .5);

  &:first-child {
    padding-right: $spacer * .5;
    padding-left: 0;
  }
  
  &:last-child {
    padding-right: 0;
    padding-left: $spacer * .5;
  }
}

.footer-col-1 {
  svg {
    max-width: $spacer *10;
  }
}

p.copyright {
  font-size: 0.8em;
  margin: 20px auto;
  text-align: center;
}
