.jobs-page {

    .card {
        margin: $spacer*4 0;
        padding: $spacer*4;

        @media screen and (max-width: $on-500) {
            padding: $spacer*2;
        }

        .button {
            display: inline-block;
        }
    }

    .job-title {

        h2 {
            margin-bottom: 0;
        }

        .material-symbols-outlined {
            color: $tertiary;
            display: block;
            font-size: 3em;
            margin-bottom: $spacer;
        }

    }

    .job-specs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .job-spec {
        display: flex;
        flex-direction: row;
        margin: 0 $spacer*2 $spacer*2 0;
        width: calc(25% - (#{$spacer}*2));

        @media screen and (max-width: $on-700) {
            width: calc(50% - (#{$spacer}*2));
        }
        @media screen and (max-width: $on-400) {
            margin-right: 0;
            width: 100%;
        }
        h6 {
            margin: 0;
        }
        .material-symbols-outlined {
            color: $tertiary;
            margin-right: $spacer;
        }
    }

    .job-bens {
        margin-right: 0;
        width: 100%;
    }
}