<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="links">
          <a class="scroll" href="#about">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a class="scroll" href="#benefits">Benefits</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a class="scroll" href="#identity">Careers</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a class="scroll" href="#culture">Culture</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="mailto:contact@nectarworks.io" target="_blank" rel="nofollower noopener noreferrer">Contact Us</a>
        </div>
      </div>
    </div>
  
    <p class="copyright">
				&copy; <script type="text/javascript">
				  document.write(new Date().getFullYear());
				</script>,  Nectarworks
		</p>
  
  </footer>