<header id="site-header" class="site-header">
  <div class="wrapper" id="header-wrapper">
    <a class="site-title" rel="author" href="/" alt="{{ site.title | escape }}">
      <div class="site-logo" aria-label="Company Logo">{% include nectarworks_logo.svg %}</div>
    </a>
    <nav class="site-nav">
      <button class="nav-toggle" id="nav-toggle" aria-label="Toggle navigation">
        <span class="menu-icon material-symbols-outlined">menu</span>
        <span class="close-icon material-symbols-outlined">close</span>
      </button>
      <div class="nav-links" id="nav-links">
        <a class="page-link scroll" href="#about">About</a>
        <a class="page-link scroll" href="#identity">Careers</a>
        <a class="page-link scroll" href="#vacancies">Open Positions</a>
        <a class="page-link" href="mailto:contact@nectarworks.io" target="_blank" rel="nofollower noopener noreferrer">Contact Us</a>
      </div>
    </nav>
  </div>
</header>
