<div id="site-header"></div>
<header class="site-header">
  <div class="wrapper" id="header-wrapper">
    <a class="site-title scroll" rel="author" href="#site-header" alt="{{ site.title | escape }}">
      {%- include frequency-advisors-eu-logo-invert.svg -%}
    </a>
    <nav class="site-nav">
      <button class="nav-toggle" id="nav-toggle" aria-label="Toggle navigation">
        <span class="menu-icon material-symbols-outlined">menu</span>
        <span class="close-icon material-symbols-outlined">close</span>
      </button>
      <div class="nav-links" id="nav-links">
        <a class="page-link scroll" href="#careers">Careers</a>
        <a class="page-link scroll" href="#about">About</a>
        <a class="page-link" href="mailto:contact@frequencyadvisors.eu" rel="nofollow noopener noreferrer" target="_blank">Contact Us</a>
        <a class="page-link" href="https://www.linkedin.com/company/frequency-advisors/" rel="nofollow noopener noreferrer" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </nav>
  </div>
</header>
