/* Scroll to top */
#top {
	position: absolute;
	top: 0;
  }
  
  /**
   * Site header
   */
  .site-header {
	background-color: $background-color;
	color: $text-color;
	font-weight: 300;
	font-style: normal;
	height: $spacer * 8;
	transition: height 0.3s ease, box-shadow 0.3s ease;
	position: sticky;
	top: 0;
	z-index: 1000;
  
	/* Sticky shadow on scroll */
	&.scrolled {
	  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
	  height: 50px;
	}
  
	#header-wrapper {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  height: $spacer * 8;

	  &.scrolled {
		height: $spacer * 5;

	  }
	}
  }
  
  .site-title {
	display: block;
	height: $spacer * 6;
	width: 140px;
	background-size: contain;
	margin: $spacer 0 $spacer $spacer * 0.5;
	transition: height 0.3s ease, width 0.3s ease;
	text-indent: -99999px;
  
	svg {
	  display: block;
	  width: 100%;
	  height: auto;
	}
  
	// When the header is scrolled, reduce the size by 30px
	.site-header.scrolled & {
	  height: $spacer * 4.5; // Reduced by 30px
	  width: 110px; // Adjust width accordingly
	}
  
	@include media-query($on-500) {
	  margin-left: $spacer;
	  width: $spacer * 10;
  
	  .site-header.scrolled & {
		height: $spacer * 3.5; // Further adjustment for smaller screens
		width: 90px;
	  }
	}
  }
  
/* Navigation Styles */
.site-nav {
	.nav-links {
		display: flex;
		align-items: center;
		gap: 20px;

		a {
			font-weight: 400;
		}
	  
		@include media-query($on-600) {
			align-items: end;
			position: fixed;
			top: 80px; /* Default position */
			right: -270px;
			height: calc(100vh - 80px);
			width: 250px;
			flex-direction: column;
			background-color: white;
			padding: $spacer * 4 $spacer;
			box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.1);
			transition: transform 0.3s ease, top 0.3s ease;
			transform: translateX(0);
			z-index: 999;

			a {
				padding-right: $spacer *2;
			}
		}
	  
		&.active {
		  transform: translateX(-100%);
		}
	  
		&.scrolled {
		  top: 50px; /* Adjusted position when scrolled */
		  height: calc(100vh - 50px); /* Adjust height accordingly */
		}
	  }

	  .nav-toggle {
		display: none;
		cursor: pointer;
		background: none;
		border: none;
		position: relative; /* Ensure the icons are positioned correctly */
	  
		/* Show on screens larger than 600px */
		@include media-query($on-600) {
		  display: block;
		  margin-left: auto;
		}
	  
		.menu-icon,
		.close-icon {
		  font-size: 30px; /* Adjust the size as needed */
		  display: block;
		  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for both rotation and fade */
		}
	  
		.close-icon {
		  display: none; /* Hide close icon initially */
		  transform: rotate(180deg); /* Start the close icon rotated */
		  opacity: 0; /* Initially invisible */
		}
	  
		&.active .menu-icon {
		  transform: rotate(0deg); /* Reset rotation for the menu icon */
		  opacity: 0; /* Hide menu icon when active */
		}
	  
		&.active .close-icon {
		  display: block; /* Show close icon when active */
		  transform: rotate(0deg); /* Reset rotation for the close icon */
		  opacity: 1; /* Make the close icon fully visible */
		}
	  }
	  
	  
}
  
  