<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  
  {%- if page.class -%}
    <body class="{{ page.class }}">
  {%- else -%}
    <body>
  {%- endif -%}


    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    <!-- Show login/logout buttons only on pages in the /profile/ folder -->
    {% if page.url contains '/profile/' %}
      <button id="login">Login</button>
      <button id="logout">Logout</button>
      <div id="protected-content"></div>
    {% endif %}


    {%- include footer.html -%}

    {%- include scripts.html -%}

  </body>

</html>