<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include profile/head.html -%}

  <body class="profile-page">
  
    {%- include profile/header.html -%}

    <div id="protected-content">

      {%- include profile/user.md  -%}

      <main class="page-content" aria-label="Content">
        <div id="{{ page.id }}">
          {{ content }}
        </div>
      </main>

    </div>

    {%- include profile/footer.html -%}

    {%- include scripts.html -%}

  </body>

</html>